---
layout: default
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<div class="wrapper">
  <div class="row">
    <h3 class="col col-sm-12">Kontakt</h3>
    <address class="col col-sm-12 col-lg-6"><span class="fa fa-building"></span><br/>Společenství vlastníků Opálkova 18, Brno<br/>
    Opálkova 759/18, Bystrc, 635 00 Brno</address>
    <address class="col col-sm-12 col-lg-6"><span class="fa fa-envelope"></span><br/><a href="mailto:vybor@opalkova18.cz">vybor@opalkova18.cz</a></address>
    <ul class="col col-sm-12 col-lg-6">
    {% for social in site.social %}
      {% if social.url != null %}
      <li>
        <a href="{{ social.url }}" title="{{ social.desc }}">
          <i class="fa fa-{{ social.icon }}"></i>
          <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <section class="row">
  <div class="col col-sm-12 col-lg-4">
    <h3>IČ: 29306809</h3>

    <p>S 9117 vedená u Krajského soudu v Brně</p>
  </div>
  <div class="col col-sm-12 col-lg-4">
    <h3>Rejstříky</h3>
    <ul>
      <li><a href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=195525&typ=PLATNY">platné údaje</a></li>
      <li><a href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=195525&typ=UPLNY">kompletní historie</a></li>
    </ul>
  </div>
  <div class="col col-sm-12 col-lg-4">
    <h3>Listiny</h3>
    <ul>
      <li><a href="https://or.justice.cz/ias/content/download?id=1801fc2e24c64531936b98f0f20c76c9">stanovy</a></li>
      <li><a href="https://or.justice.cz/ias/ui/vypis-sl-firma?subjektId=195525">všechny</a></li>
    </ul>
  </div>
  </section>
</div>

<!-- vim: sts=2 sw=2 et
//-->
