<footer class="site-footer">

  <div class="wrapper">
	Copyright &copy; 2017 - 2018.
	Všechna práva vyhrazena.
	Nejsou zpracovávána žádná osobní data ani cookies.
  </div>
</footer>

<!-- Scripts -->
<script src="{{ "/assets/js/jquery-3.3.1.min.js" | prepend: site.baseurl }}"></script>
<script>

$(document).ready(function() {
  // Header
  var menuToggle = $('#js-mobile-menu').unbind();
  $('#js-navigation-menu').removeClass("show");
  menuToggle.on('click', function(e) {
    e.preventDefault();
    $('#js-navigation-menu').slideToggle(function(){
      if($('#js-navigation-menu').is(':hidden')) {
        $('#js-navigation-menu').removeAttr('style');
      }
    });
  });
});

</script>

